@import "../include.scss";

.container {
}

.introduction {
    padding-bottom: 160px;

    > p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &:nth-child(1) {
            margin-bottom: 80px;
        }

        &:nth-child(3) {
            margin-top: 80px;
            margin-bottom: 80px;
        }

        &:nth-child(5) {
            margin-top: 80px;
        }
    }

    > img {
    }
}

.image_container {
    width: 100%;

    // &::after {
    //     content: "";
    //     display: block;
    //     padding-bottom: 100%;
    // }

    > img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
    }
}

.slide_image {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: sticky;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 58px;
    background-color: white;
    z-index: 1000;
    top: 0px;
}

.corporation {
    margin-bottom: 120px;
}

.corporation_desc {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
    opacity: 0;
    position: relative;
    top: 100px;
    transition: opacity 1s, top 1s;
}

.service {
    padding-bottom: 80px;
}

.service_fade {
    opacity: 0;
    position: relative;
    top: 100px;
    transition: opacity 1s, top 1s;
}

.portfolio {
}

.portfolio_fade {
    opacity: 0;
    position: relative;
    top: 100px;
    transition: opacity 1s, top 1s;
}

.detail_btn {
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: url("/images/icon/arrow_right_round.svg");
        position: relative;
        top: 4px;
        margin-left: 9px;
    }
}

.team {
}

.desc {
    margin-bottom: 80px;
}

.desc_main {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
}

.desc_sub {
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.people {
    opacity: 0;
    position: relative;
    transform: scale(0.9);
    transition: opacity 1s, transform 1s;
}

.card {
    transform: scale(0.98);
    box-shadow: $common_box_shadow;
    padding: 20px;
}

.indicator {
}

.people_card_image_container {
    margin-bottom: 40px;
}

.people_card_text {
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 12px;
}

.people_card_name_position {
    font-size: 12px;
    font-weight: 400;
    color: $auro_metal_saurus_color;
}
