@import "../include.scss";

.container {
}

.introduction {
    padding-top: 20px;
    padding-bottom: 40px;

    > p {
        font-size: 18px;
        line-height: 30px;
        font-weight: 400;

        &:nth-child(1) {
            margin-bottom: 40px;
        }

        &:nth-child(3) {
            margin-top: 40px;
            margin-bottom: 40px;
        }

        &:nth-child(5) {
            margin-top: 40px;
        }
    }

    > img {
    }
}

.image {
    border-radius: 6px;
}

.slide_image {
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.service {
    padding-top: 40px;
    padding-bottom: 40px;
}

.portfolio {
    padding-top: 40px;
    padding-bottom: 80px;
}

.detail_btn {
    font-size: 16px;
    font-weight: 400;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: url("/images/icon/arrow_right_round.svg");
        position: relative;
        top: 4px;
        margin-left: 9px;
    }
}
