@import "../include.scss";

.container {
    position: sticky;
    top: -58px;
    z-index: 10000;
}

.bar {
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: $white_color;
}

.title_bar {
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    background-color: $white_color;
    border-top: 1px solid $chinease_silver_color;
    border-bottom: 1px solid $chinease_silver_color;
}

.logo {
    width: 117px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        mask-image: url("/images/logo/app_logo.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: $gray_900_color;
    }
}

.hamburger {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        mask-image: url("/images/icon/hamburger.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: $black_color;
    }
}

.close {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        mask-image: url("/images/icon/cancel.svg");
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: $black_color;
    }
}

.menu_button {
    width: 24px;
    height: 24px;
    position: relative;

    > div {
        transition: all 0.3s;
        position: absolute;
    }
}

.show {
    > div {
        width: 100%;
        height: 1.5px;
        background-color: black;

        &:nth-child(1) {
            top: 8px;
        }

        &:nth-child(2) {
            top: 16px;
        }
    }
}

.hidden {
    > div {
        width: 100%;
        height: 1.5px;
        background-color: black;

        &:nth-child(1) {
            top: 12px;
            transform: rotate(45deg);
        }

        &:nth-child(2) {
            top: 12px;
            transform: rotate(-45deg);
        }
    }
}

.menu_nav {
    position: absolute;
    top: 58px;
    right: 0;
    width: 100%;
    height: calc(100vh - 58px);
    background-color: $white_color;
}

.menu_nav_list {
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu_nav_list_item {
    span {
        font-size: 24px;
        font-weight: bold;
    }
}

.active {
    span {
        color: $primary_color;
    }
}
